
@{
    ViewBag.Title = "Yeni";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form method="post" action="">
    <div class="form-control">
        <label>Departman Adı</label>
        <input type="text" name="Ad" class="form-control"/>

    </div>
    <button type="submit" class="alert-success">Gönder</button>

</form>

